.wrap {
    width: 1200px;
    margin: auto;
}

table {
    width: 600px;
    border: 1px solid #dbdbdb;
    text-align: center;
    border-collapse: collapse;
}

.first_td {
    width: 100px;
}

td {
    border: 1px solid #dbdbdb;
    height: 25px;
    padding: 0px;
}

.shift {
    width: 165px;
    height: 25px;
    border: none;
}

input {
    text-align: center;
}
h5 {
    color: mediumorchid;
}
.TT {
    color: coral;
}